.root {
  display: flex;
  flex-direction: column;
}

.link {
  color: var(--color-bluegray);
  padding-bottom: 12px;
}

.icon {
  padding-right: 8px;

  &.download {
    padding-left: 4px;
    padding-right: 12px;
  }
}